*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: aquamarine;
} */
nav{
    display: flex;
    justify-content: space-between;
    margin: 5px 150px;
}
h2{
    font-size: 20px;
    color: aqua;
}
.btn-primary{
    background-color: blueviolet;
    border: 2px solid black;    
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
    padding: 4px;
}

.banner-bac-pic{

    background-image:url('assets/Hero-bg.png');
    width: 1300px;
    height: 520px;
    

}
.banner-container{
   padding-top: 100px;
    margin-left: 380px;
}
.banner-container img{
    padding-left: 150px;
}
.banner-container h1{
    font-weight: 700px;
    /* justify-content: center; */
    
}
.banner-container a{
    margin-top: 30px;
    padding-left: 220px;
}
.why-web-dev{
    padding-left: 460px;
    margin-top: 50px;
    width: 350px;
}
.first-part-whydev{
    display: flex;
    margin-top: 40px;
    justify-content:space-around;
}
/* first table eer padding */
  .first-part-whydev-one{
padding-left: 50px;
} 
.first-part-whydev img{
padding-left: -50px;
} 

.second-part-whydev{
    display: flex;
    justify-content: space-around;
}

/* third part of why dev */

.third-part-whydev{
display: flex;
margin-top: 40px;
justify-content:space-around;
}


/* Inspiration part */
.my-inspiration{
    justify-content: center;
    padding-left: 200px;
    padding-top: 50px;
}
.my-inspiration-one{
    padding-bottom: 0px;
    padding-left: 200px;
    align-items: center;
}
.my-inspiration img{
width: 800px;
max-height: 600px;
margin-top: 0px;
padding-top: 0;
}

/* Card section..... */
.card{
    display: flex;
    justify-content:space-around;
}
    
.card-one{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
}

.card-tow{
    background-color:azure;
    border-radius: 10px;
    padding: 20px;
}

.card-three{
    background-color:aquamarine;
    border-radius: 10px;
    padding: 20px;
    margin-left: -20px;
}

/* Terget section */

.terget-row{
    width: 700px;
    height: 250px;
    justify-content: space-around;
    padding: 20px 270px;
    align-items: center;
    
}

.terget-row-desc{
    text-align: center;
    margin: 40px 0 20px 0;
}
.terget-row-one, .terget-row-tow, .terget-row-three{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    padding: 20px;
    margin-bottom: 5px;
    
}
.terget-row-one img{
    padding: 5px 25px;
}
.support{

}
.support{
    background-image: url('assets/handshake.jpg');
    background-size:cover;
    color: white;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
       
   
}
.support input{
    padding: 10px;
    margin-top: 5px;
}
.btn {
    padding: 10px;
}

.support-element{
    padding-left: 200px;
    padding-top: 100px;
    font-weight: 700px;
}

/* footer */

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer h2{
    color: black;
}
.footer ul{
    display: flex;
    padding: 10px;
    margin-right: -50px;
}
.footer li{
    padding: 10px;
    list-style: none;
}

