*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: aquamarine;
} */
nav{
    display: flex;
    justify-content: space-between;
    margin: 5px 150px;
}
h2{
    font-size: 20px;
    color: aqua;
}
.btn-primary{
    background-color: blueviolet;
    border: 2px solid black;    
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
    padding: 4px;
}

.banner-bac-pic{

    background-image:url('/assets/Hero-bg.png');
    width: 1300px;
    height: 520px;
    

}
.banner-container{
   padding-top: 100px;
    margin-left: 380px;
}
.banner-container img{
    padding-left: 150px;
}
.banner-container h1{
    font-weight: 700px;
    /* justify-content: center; */
    
}
.banner-container a{
    margin-top: 30px;
    padding-left: 220px;
}
.why-web-dev{
    padding-left: 460px;
    margin-top: 50px;
    width: 350px;
}
.first-part-whydev{
    display: flex;
    margin-top: 40px;
    justify-content:space-around;
}
/* first table eer padding */
  .first-part-whydev-one{
padding-left: 50px;
} 
.first-part-whydev img{
padding-left: -50px;
} 

.second-part-whydev{
    display: flex;
    justify-content: space-around;
}

/* third part of why dev */
.third-part-whydev{
    display: flex;
    margin-top: 40px;
    justify-content:space-around;
}